/* Global styles */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #551c1c;
}

/* Navbar */
.navbar {
  background: #45eca6;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  margin: 0;
  font-size: 24px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 100px;
}

.navbar ul li {
  cursor: pointer;
  transition: 0.3s;
}

.navbar ul li:hover {
  color: #00d4ff;
}

/* Categories Section */
.categories {
  padding: 30px;
}

.category-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  transition: 0.3s;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

/* Footer */
.footer {
  text-align: center;
  background: #1e1e1e;
  color: white;
  padding: 15px 0;
  margin-top: 50px;
}
