.categories-container {
  text-align: center;
  padding: 20px;
}

.categories-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.category-card {
  background: #ff5f9e;
  padding: 20px 30px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.category-card:hover {
  transform: scale(1.05);
}
