.navbar {
  background: #1e1e1e;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  position: relative;
}

/* Center the logo */
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  font-weight: 700;
}

/* Menu stays on the right */
.nav-links {
  margin-left: auto;
  display: flex;
  gap: 25px;
  list-style: none;
  color: white;
  justify-content: space-between;
  position: sticky;
  padding: 18px 40px;
}

.nav-links li:hover {
  color: #ff608b;
  cursor: pointer;
}
